{% load static %}
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>error</title>
    <link rel="stylesheet" href="{% static 'employ/voting/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'font/bootstrap-icons.css' %}">
    <link href="{% static 'employ/voting/css/error.css' %}" rel="stylesheet"/>
    <link href="{% static 'employ/images/favicon.ico' %}" rel="shortcut icon"/>

</head>

<body>
    <div class="container">
        <div class="row" style="height: 110px;"></div>
        <div class="row" style="height: 110px;"></div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5" >
                <div class="text-center">
                    <div class="msg" style="font-size: 30px;color: white;font-family:Arial, Helvetica, sans-serif;">
                        {% if msg %}
                         <div class="alert alert-error">{{msg}}</div>
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="col-md-1" ></div>
        </div>
        <div class="row" style="height: 70px;"></div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4" >
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                        <p class="link" style="font-size: 28px;font-family:Arial, Helvetica, sans-serif;">
                            <a href="#" onclick="window.history.back()">&#9666;返回</a>
                        </p>
                    </div>
                    <div class="col-md-3"></div>
                </div>               
            </div>
            <div class="col-md-1" ></div>
        </div>
    </div>
<script src="{% static 'employ/voting/jquery/3.2.1/jquery.min.js' %}"></script>
<script src="{% static 'employ/voting/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'employ/voting/js/popper1.16.1/popper.min.js' %}"></script>
<script src="{% static 'employ/voting/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>


