{% extends "recom/voting/base.html" %}
{% load static %}

{% block title %}
   民主推荐
{% endblock title %}

{% block content %}

{% for p in paper %}
<div class="container">
<br/>
    <div>
        <p>
        <!--预格式文本-->
        <pre class="text-center" style="font-size: larger;"><b> 测评名称：{{ p.title }}</b></pre>
        </p>

        <p> 岗位名称：{{ p.post }}</p>
        <p> 职级：{{ p.rank }}</p>
        <p> 岗位职数：{{ p.num }}</p>
    </div>
    <br/>
    <div class="page-content">  
        <form action="{% url 'recom:voteCount' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ user.name }}">
            <input type="hidden" name="id" value="{{ id }}">

            <div class="container">

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                <thead>
                <tr>
                    <th class="text-center" style="width: 20px;vertical-align: middle;">推荐人选</th>
                    <th class="text-center" style="width: 70px;vertical-align: middle;">姓名</th>
                    <th class="text-center">出生年月</th>
                    <th class="text-center">年龄</th>
                    <th class="text-center">参加工作时间</th>
                    <th class="text-center">入职时间</th>
                    <th class="text-center">政治面貌</th>
                    <th class="text-center">现任职务</th>
                    <th class="text-center">任现职时间</th>
                    <th class="text-center">现职级</th>
                    <th class="text-center">任现职时间</th>
                    <th class="text-center">专业职务</th>
                    <th class="text-center" style="vertical-align: middle;">备注</th>
                </tr>
                </thead>
                <tbody>
                    <!--考评内容:德、能...-->
                    {% for test in p.obj.all %}
                    <tr>
                        <div id="{{ forloop.counter }}">
                            <td class="text-center">
                                <ul>
                                    <!--<li>标签横排排列,右边距为20,将块元素li更改显示为内联元素，不换行显示-->
                                    <li class="option" style="display: inline;margin-right: 20px;" >
                                        <input type="checkbox" class="radioOrCheck" name="{{ p.id }}"
                                               value="{{ test.obj }}"/>
                                    </li>
                                </ul>
                            </td>
                            <td class="text-center" style="vertical-align: middle;">{{ test.obj }}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.birth == None %} {% else %}{{ test.birth }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.age == None %} {% else %}{{ test.age }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.work_time == None %} {% else %}{{ test.work_time }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.dates == None %} {% else %}{{ test.dates }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.status == None %} {% else %}{{ test.status }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.post == None %} {% else %}{{ test.post }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.time_in_post == None %} {% else %}{{ test.time_in_post }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.rank == None %} {% else %}{{ test.rank }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.job_title == None %} {% else %}{{ test.job_title }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.degree == None %} {% else %}{{ test.degree }}{% endif %}</td>
                            <td class="text-center" style="vertical-align: middle;">{% if test.remark == None %} {% else %}{{ test.remark }}{% endif %}</td>

                        </div>
                    </tr>
                    {% endfor %}

                </tbody>
                </table>


            </div>
            <div class="row">
                <div class="col-md-10">
                    <p style="font-weight: lighter;">
                       <i>&nbsp;&nbsp;&nbsp;***注: 请在名册表中选择您认为合适的人选。</i>
                    </p>
                </div>
                <div class="col-md-2">
                <div align="center">
                    <button type="submit"  class="button1"> <i class="fas fa-upload"></i> 提交</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}

{% endblock content %}
